/*
blue : #5e9aff
yellow : #ffc438
*/

*{
    margin : 0;
    padding: 0;
    background-color: cornsilk;
}

.section{
    height : 100vh;
}

nav{
    top : 0px;
    height : 5vh;
    position: -webkit-sticky;
    position: sticky;
}

nav ul{
    list-style-type: none;
    display: flex;
    width : 50%;
}

nav ul li{
    height: 5vh;
    line-height: 5vh;
    font-size:25px;
    width : 100%;
    text-align: center;
    color : #5e9aff;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

nav ul li a{
    display: block;
    height : 100%;
    width : 100%;
}

nav ul li a:hover{
    background-color: #ffc438;
    text-decoration: none;
}

#headerBlock{
    width : 40%;
    margin-left : 10%;
    margin-top : 45vh;
    transform: translateY(-50%);
}

#headerBlockText{
    position : absolute;
    top : 35%;
    bottom : 65%;
    left : 360px;
    right : 0;
    width : 50%;
    margin:auto;
    font-size:40px;
    text-align : center;
}

#headerBlockText span{
    width : 50%;
    display : table-cell;
}